h1{
    border-style:solid; /*other border styles are:(dashed,dotted,double,ridge,inset,outset,none(if default has it will remove),groove)*/
    border-width: 2px;
    border-color:blueviolet;
    border-radius:5px;
    /* so border style is how
        border width is thickness default is 1px(em also we can)
        border color is our color
        border-radius is how the rounder edges(how much of) */
}
#p1{
    border:2px solid red; 
    /* this is the shord hand for the above width color and style(width,style,color) */
}
#p2{
    font-family:"Times New Roman", Times, serif;/*this will change the font to times new roman*/
    text-align:center;   /*This will make all align center*/
    font-size:30px;     /*This will set the size of the font*/
    line-height:1.6;    /*This will set space between lines*/
    border-bottom: 2px dotted violet;
    border-top: 2px groove indigo;
    border-left: 5px dashed red;
    border-right: 2px dashed yellow;
    /*again here for specific borders we putting like left and all are together
        they have separet also like border-right-color style and all*/
}