*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Light.ttf");
}
body{
    background-image: url("Background.png");
    background-size: cover;
    position: relative;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.main-body{
    min-height:63%;
    min-width: 50%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: relative;
}
.left-body{
    position: relative;
    min-width: 50%;
    min-height: 100%;
    background-color: rgb(7, 43, 44);
    display: flex;
    flex-direction: column;
}
.heading{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    text-align:center;
}
.heading h3{
    font-family: "Roboto";
    font-size: 1.7em;
    color:white;
}
.heading p{
    font-family: "Roboto";
    font-size: 0.8em;
    margin: 10px;
    color:rgb(32, 152, 199);
}
.img-sec{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    position: absolute;
}
.img-sec img{
    height:100%;
    width:auto;
    position: absolute;
}
.right-body {
    position: relative;
    min-width: 50%;
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding: 20px 35px; /* Add padding to create space around the form */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;

}

input[type="text"], input[type="password"] {
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}
button{
    background-color: rgb(7, 43, 44);
    color:white;
    border-radius: 8px;
    padding:15px 20px;
    margin: 10px;
    position: absolute;
    min-width: 70%;
    min-height: auto;
}
.form-body{
    padding: 10px;
}
.form-body h3{
    font-family: "Roboto";
    font-size: 1.7em;
    color: black;
    font-weight: bold;
}
.form-body label{
    font-family: "Roboto";
    font-size: 0.85em;
    color: black;
    font-weight: bold;
}
.checkbox{
    display: flex;
    align-content: space-between;
}
#tandc{
    cursor: pointer;
    color: rgb(7, 43, 44);
    font-weight: bold;
    text-decoration: underline;
}
#t{
    min-width:70%;
    padding-left: 2%;
}
@media screen and (max-width: 1080px) {
    .main-body {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
        justify-content: center; /* Center content vertically */
        height: 100vh; /* Occupy full viewport height */
    }
    .left-body,
    .right-body {
        width: 90%; /* Take up 90% of the viewport width */
        min-height: auto; /* No fixed height */
        margin: 10px 0; /* Add margin for spacing between sections */
    }
    .img-sec,
    .img-sec img {
        position: static; /* Let the images appear naturally in the flow */
        width: 100%; /* Occupy full width */
        height: auto; /* Maintain aspect ratio */
    }
    .button {
        position: static; /* Allow buttons to flow naturally */
        width: 100%; /* Occupy full width */
        margin: 10px 0; /* Adjust margin for better spacing */
    }
    input[type="text"],
    input[type="password"] {
        width: 100%; /* Occupy full width */
    }
}
