*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
header{
    width: 100%;
    display: inline-block;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    padding:5px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    padding:5px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color:gray;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding:5px;
    line-height: 25px;
}
a{
    text-decoration: none;
}

.compname{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    display:inline-block;
    width:fit-content;
    margin:30px;
    text-align: center;
    position:relative;
    left: 5%;
    
}
.about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    display:inline-block;
    width:fit-content;
    margin:20px;
    text-align: centers;
    position:relative;
    left:20%;
    padding: 10px;
}
#getintouch{
    text-align:center;
    background-color: rgb(247, 247, 36);
    color:black;
    border:2px solid black;
    border-radius: 10%;
    padding:10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    display:inline-block;
    left: 35%;
}
.about:hover{
    background-color: rgb(247, 247, 36);
    color:black;
}
#heading{
    position: relative;
    left:5%;
    width: 700px;
    padding-top:35px;
    padding-bottom:15px;
}
#headpara{
    position: relative;
    left:5%;
    width: 600px;
}
#logos{
    width:100%;
    padding:30px;
}
.logoadd{
    width:fit-content;
    float:left;
    padding: 0px 40px;
    position:relative;
    left:2%;
}
#content{
    width:100%;
    padding:45px 20px;
}
.contentadd{
    display: inline-block;
    width:43%;
    position:relative;
    left:3%;
    padding: 10px 35px;
    object-fit: contain;
}
.contentadd:hover{
    background-color:rgb(247, 247, 36) ;
    color:black;
}
.contentadd img{
    width: 100%;
}
.contentadd p{
    font-family:'Times New Roman', Times, serif;
    color:gray;
    font-size: 15px;
    letter-spacing: 2px;
    padding:5px;
    line-height: 15px;
}
.hover:hover{
    text-decoration: underline;
    color:black;
}
#sub{
    width:100%;
    padding:45px;
    background-color: rgb(100, 100, 100);
    height:300px;
    display: flex;
}
.subcontent p{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 15px;
    padding:5px;
    line-height: 15px;
    text-align: justify;
    font-weight: normal;
}
.subcontent{
    width:45%;
    height:300px;
    padding:20px;
    display: inline-block;
    position:relative;
    left:2%;
}
#subh2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 30px;
    padding:5px;
    line-height: 30px;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}
#touch{
    width:100%;
    height:300px;
    display: inline-block;
}
.touchcontent{
    width:45%;
    height:300px;
    display: inline-block;
    position:relative;
    left: 5%;
    padding:20px;
}
#touchbut{
    text-align:center;
    background-color: rgb(247, 247, 36);
    color:black;
    border:2px solid black;
    border-radius: 10%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    display:inline-block;
}
#footer{
    background-color:rgb(100, 100, 100) ;
    width: 100%;
    height:90px;
    display: flex;
    align-items: center;
}
.socialmedia{
    position: relative;
    left:70%;
}
.icons{
    margin:10px;
}
